@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #AEB8A4;
    font-family: 'Noto Sans', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__block{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    border-radius: 5px;
    background-color: #f5f6f6f6;
}

.main__blocks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
    align-items: center;
    height: 80px;
}

.main__entry{
    width: 350px;
    height: 20px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
    outline: none;
    padding: 5px;
    font-size: 17px;
}

.main__button{
    width: 80px;
    height: 30px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid;
    background-color: #494949;
    color: white;
}

.main__tasks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__task{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 40px;
    margin-bottom: 30px;
    width: 490px;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(202, 202, 202);
}

.main__task input{
    cursor: pointer;
}

.main__task p{
    width: 90%;
    word-wrap: break-word;
}

.main__remove-btn{
    display: none;
}

.main__task:hover .main__remove-btn{
    display: block;
}

.main__inactive{
    opacity: 0.4;
    text-decoration: line-through;
}
